<div mat-dialog-content class="layout-row layout-align-end-end">
    <h1>Crear Proyecto</h1>
</div>
<div>
    <div class="row">
        <div class="col-5">
            <div class="row formulario">
                <div class="form-group row" >
                    <form [formGroup]="formularioProyecto">
                        <div class="col-12">
                            <label style="margin-bottom: 4%;" for="exampleFormControlInput1">Nombre del proyecto</label>
                            <div class="col-7">
                                <input class="form-control" type="text" (change)="checkProyecto()" formControlName="nombreProyecto">
                            </div>
                        </div>
                   </form>
                </div>   
            </div> 
        </div>
        <div class="col-6">
            <img src="../../../assets/imgs/proyecto.PNG" width="100%">
        </div>
    </div>  
    <div class="row">
        <div class="col-12">
            <button style="margin-top: 5%; margin-bottom: 5%; width: 100%;" class="btn btn-success" (click) = "crearProyecto()" [disabled]="bandPost || formularioProyecto.invalid">Crear Proyecto</button> 
            <div *ngIf="bandPost" class="alert alert-danger" role="alert">
                El proyecto "{{ nameProject }}" ya existe
            </div>
        </div>
    </div>
</div>
