<nav class="navbar navbar-expand-lg navbar-dark bg-dark menu">
  <div class="container-fluid ">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" >
        <button type="button" class="btn btn-light home boton" mat-raised-button  *ngIf="bandLogeo" (click)="comprobar()" routerLinkActive="active" aria-current="page">
          <i class="fas fa-home mx-2"></i>
        </button>
        <button type ="button" class="btn btn-light boton" mat-raised-button  (click)="abrirCrearClase()" routerLinkActive="active"  aria-current="page" *ngIf="bandLogeo && bandAreaTrabajo">
          Crear clase
          </button>
        <li class="nav-item" *ngIf="!bandLogeo">
          <a routerLink="/" routerLinkActive="active" class="nav-link active" aria-current="page">PooGraph</a>
        </li>
        <button  routerLink="/" routerLinkActive="active" class="btn btn-light boton" mat-raised-button aria-current="page" *ngIf="!bandLogeo">
          <a>Iniciar Sesion</a>
        </button>
        <li  class="nav-item btn-cerrar" style="justify-content: end;" *ngIf="bandLogeo">
          <button (click)="cerrarSesion()" routerLinkActive="active" class="btn btn-danger" aria-current="page">Cerrar
            Sesion</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
