<nav class="poo-navbar">
  <div class="nav-left">
    <span class="nav-brand" *ngIf="!bandLogeo">
      <mat-icon style="vertical-align: middle; margin-right: 6px;">schema</mat-icon>POOGraph
    </span>
    <button *ngIf="bandLogeo" (click)="irAlHome()" class="nav-btn" title="Inicio">
      <mat-icon>home</mat-icon>
    </button>
    <button *ngIf="bandLogeo && bandAreaTrabajo" (click)="abrirCrearClase()" class="nav-btn">
      <mat-icon style="font-size: 18px; height: 18px; width: 18px; vertical-align: middle;">add_circle</mat-icon>
      <span>Crear clase</span>
    </button>
    <button *ngIf="bandLogeo && esAdmin" routerLink="/dashboard" class="nav-btn">
      <mat-icon style="font-size: 18px; height: 18px; width: 18px; vertical-align: middle;">analytics</mat-icon>
      <span>Monitoreo</span>
    </button>
  </div>

  <div class="nav-center">
    <span class="nav-title">POOGraph</span>
  </div>

  <div class="nav-right">
    <button *ngIf="!bandLogeo" routerLink="/" class="nav-btn">
      Iniciar Sesi&#243;n
    </button>
    <button *ngIf="bandLogeo" (click)="cerrarSesion()" class="nav-btn nav-btn-danger">
      <mat-icon style="font-size: 18px; height: 18px; width: 18px; vertical-align: middle;">logout</mat-icon>
      <span>Salir</span>
    </button>
  </div>
</nav>
