<div mat-dialog-content class="layout-row layout-align-end-end">
    <h1>Crear clase</h1>
</div>
<div>
    <div class="row">
        <div class="col-5">
            <div class="row formulario">
                <div class="form-group row" *ngIf="bandClase">
                    <form [formGroup]="formularioClase">
                        <div class="col-12">
                            <label for="exampleFormControlInput1">Nombre de la clase</label>
                            <div class="col-7">
                                <input class="form-control" type="text" formControlName="nombre">
                            </div>
                            <div class="col-5">
                                <select id="inputState" class="form-control" formControlName="nivelClase">
                                    <option *ngFor="let item of listNivel2" [value]="item">{{item}}</option>
                                </select>
                            </div>
                            <div class="custom-file col-8">
                                <label class="custom-file-label" for="customFileLang">Agregar imagen</label>
                                <input formControlName="imagen" accept="image/*" (change)="capturarArchivo($event)" type="file" class="custom-file-input"
                                    id="customFileLang" lang="es">
                            </div>
                            <div class="col-4">
                                <button type="button" [disabled]="formularioClase.pristine || formularioClase.invalid"
                                    class="btn btn-success" (click)="crearClase()">Crear Clase</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div *ngIf="!bandClase">
                    <div class="form-group row">
                        <form [formGroup]="formularioAtributo">
                            <div class="row">
                                <label for="exampleFormControlInput1">Atributos</label>
                                <div class="col-3">
                                    <select id="inputState" class="form-control" formControlName="nivelAtributo">
                                        <option *ngFor="let item of listNivel" [value]="item">{{item}}</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <select id="inputState" class="form-control" formControlName="tipoAtributo">
                                        <option *ngFor="let item of list" [value]="item">{{item}}</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <input class="form-control" formControlName="atributo" type="text">
                                </div>
                                <div class="col">
                                    <button type="button"
                                        [disabled]="formularioAtributo.pristine || formularioAtributo.invalid"
                                        class="btn btn-success" (click)="agregarAtributo()">Agregar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="form-group row">
                        <form [formGroup]="formularioFuncion">
                            <div class="row">
                                <label for="exampleFormControlInput1">Funciones</label>
                                <div class="col-3">
                                    <select id="inputState" class="form-control" formControlName="nivelFuncion">
                                        <option *ngFor="let item of listNivel2" [value]="item">{{item}}</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <select id="inputState" class="form-control" formControlName="tipoFuncion">
                                        <option *ngFor="let item of list2" [value]="item">{{item}}</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <input class="form-control" formControlName="funcion" type="text">
                                </div>
                                <div class="col">
                                    <button type="button"
                                        [disabled]="formularioFuncion.pristine || formularioFuncion.invalid"
                                        class="btn btn-success" (click)="agregarFuncion()">Agregar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="form-group row">
                        <form [formGroup]="formularioHerencia">
                            <label for="exampleFormControlInput1">Hereda de :</label>
                            <div class="col-11">
                                <select id="inputState" class="form-control" formControlName="clases">
                                    <option *ngFor="let item of clases" [value]="item.nombre">{{item.nombre}}</option>
                                </select>
                            </div>
                            <div class="col">
                                <button type="button"
                                    [disabled]="formularioHerencia.pristine || formularioHerencia.invalid"
                                    class="btn btn-success" (click)="agregarHerencia()">Crear
                                    herencia</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-5">
            <h1>Informacion de la clase</h1>
            <div style="width: 200px;">
                <table class="table table-dark">
                    <thead>
                        <tr >
                            <th scope="col" class="bg-primary"> {{nameClase}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bg-danger">Atributos</td>
                        </tr>
                        <tr *ngFor="let item of atributos">
                            <td>{{item}}</td>
                        </tr>
                        <tr>
                            <td class="bg-danger">Funciones</td>
                        </tr>
                        <tr *ngFor="let item of funciones">
                            <td>{{item}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button mat-raised-button class="btn btn-primary" mat-button (click)="reiniciar()" >Cerrar</button>
        </div>
    </div>
</div>
