<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button type="button" class="btn btn-secondary dropdown-toggle" (click)="snav.toggle()">
        menu
    </button>
    <h1>Aprende programacion orientada a objetos</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" >
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" style=" color: white;width: 20%; background-color: black;">
      <mat-nav-list>
        <a mat-list-item (click)="recargarPagina()" style="color: white;"> Home</a>
        <a  mat-list-item (click)="abrirForm()" style="color: white;">Agregar Clase</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
