<div class="container-fluid welcome">
    <div class="row">
        <div class="col-4 m-5">
            <h1 style="color:white;">Bienvenido {{username}}</h1>
        </div>
        <div class="col-4 m-5">
            <div class="row">
               <div class="col">
                <h2 style="color: white;">Crear nuevo proyecto</h2>
               </div> 
               <div class="col"><button class="btn btn-success" (click) = "openDialog()"><i class="fa fa-folder-plus"></i></button></div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-4 m-5">
            <table class="table table-dark">
                <thead>
                    <tr>
                      <th colspan="4">Abrir proyecto </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of proyectos">
                        <td >../{{item.nombre}}</td>
                    </tr>
                  </tbody>
            </table>
        </div>
    </div>

</div>